body {
  margin: 50px;
  font-size: 2rem;
  text-align: center;
}
.App {
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 200px;
}
td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
}