@charset "utf-8";

.track {
  position: relative;
  width: 675px;
  background: #eee;
}

.path {
  fill: none;
  stroke: black;
}

.car {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 20px;
  background: red;
  offset-path: path("m.5,443.85V52.36C.5,23.72,23.72.5,52.36.5s51.86,23.22,51.86,51.86v286.64c0,28.64,23.22,51.86,51.86,51.86s51.86-23.22,51.86-51.86V52.36c0-28.64,23.22-51.86,51.86-51.86s51.86,23.22,51.86,51.86v426.64c0,28.64,23.22,51.86,51.86,51.86s51.86-23.22,51.86-51.86V52.36c0-28.64,23.22-51.86,51.86-51.86s51.86,23.22,51.86,51.86v226.64c0,28.64,23.22,51.86,51.86,51.86s51.86-23.22,51.86-51.86v-59.96c0-28.64,23.22-51.86,51.86-51.86");
  offset-distance: 0;
  offset-rotate: auto 90deg;
  /* auto 를 안쓰면 회전된 상태로 고정되서 이동하기 때문에 path 모양대로 자연스럽게 이동하려면 auto를 써줘야함 */
}