@charset "utf-8";

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  font-family: Raleway, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}
.item{
  width: 300px;
  margin-bottom: 10px;
  position: relative;
}
.item input{
  width: inherit; height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  box-sizing: border-box;
  outline: none;
}
.item input:focus{
  border: 1px solid teal;
  box-shadow: 0 0 5px 0 teal;
}
.item input:focus::placeholder{
  visibility: hidden;
}
.item .fa{
  position: absolute; left: 0; top: 0;
  width: 40px; height: 40px;
  background: grey;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px 0 0 5px;
}
.item input:focus + .fa{
  background: teal;
}