@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #005252;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  display: block;
  width: 450px; height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
  transition: all .4s;
}
a::before, a::after {
  content: '';
  position: absolute; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: all .4s;
}
a:hover {
  letter-spacing: 5px;
}
a:hover::before {
  transform: rotate(45deg);
  background: transparent;
}
a:hover::after {
  transform: rotate(-45deg);
  background: transparent;
}