@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #222;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul{
  list-style: none;
  width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding: 50px 30px;
  display: flex;
}
li{
  flex: 1;
  text-align: center;
}
a{
  text-decoration: none;
  color: #222;
  font-size: 14px;
  position: relative;
}
a::after{
  content: '';
  background: crimson;
  height: 2px; width: 0;
  position: absolute; left: 50%; bottom: -5px;
  transform: translateX(-50%);
  transition: all .3s;
}
a:hover::after{
  width: 100%;
}