@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  background: linear-gradient(90deg, #ffd6ff, #bbd0ff);
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: #333;
}
.gnb{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.gnb a{
  display: inline-block;
  width: 80px; height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  overflow: hidden;
}
.gnb a span{
  position: absolute;
  width: 100%; height: 100%;
  transition: all .4s;
}
.gnb a span:first-child{
  left: 0; top: 0;
}
.gnb a span:last-child{
  left: 0; top: 100%;
  color: #4d82f5;
}
.gnb a:hover span:first-child{
  top: -100%;
}
.gnb a:hover span:last-child{
  top: 0;
}