@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.wrapper {
  width: 300px; height: 350px;
  position: relative;
}
input[name=tabmenu] {
  display: none;
}
.content {
  display: none;
}
.btn{
  position: absolute; left: 0; bottom: 10px;
  width: 100%;
  text-align: center;
}
.btn label {
  display: inline-block;
  width: 20px; height: 20px;
  background: lightgray;
  border-radius: 50%;
  cursor: pointer;
}
#tab1:checked ~ .slide1, #tab2:checked ~ .slide2, #tab3:checked ~ .slide3{
  display: block;
}
#tab1:checked ~ .btn label[for=tab1], #tab2:checked ~ .btn label[for=tab2], #tab3:checked ~ .btn label[for=tab3]{
  background: crimson;
}