@charset "uft-8";

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
}
.wrapper {
  height: 500px;
}
.wrapper h1{
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}
input[name=tabmenu] {
  display: none;
}
.slide-container {
  width: 800px; height: 400px;
  position: relative;
  overflow: hidden;
}
.slides {
  width: 2400px; height: 400px;
  /* width: 800px; height: 1200px; */
  display: flex;
  position: absolute; left: 0; top: 0;
  transition: all .4s;
}
.slides div {
  width: 800px; height: 400px;
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
}
.slides div img {
  width: 100px;
  border-radius: 50px;
}
.slides div strong {
  display: block;
}
.slides div span {
  color: orange;
}
.btns {
  text-align: center;
}
.btns label {
  display: inline-block;
  width: 10px; height: 10px;
  background: lightgray;
  transition: all .4s;
}
#tab1:checked ~ .slide-container .slides {
  left: 0;
}
#tab2:checked ~ .slide-container .slides {
  left: -800px;
  /* top: -400px */
}
#tab3:checked ~ .slide-container .slides {
  left: -1600px;
  /* top: -800px; */
}
#tab1:checked ~ .btns label[for=tab1], #tab2:checked ~ .btns label[for=tab2], #tab3:checked ~ .btns label[for=tab3] {
  background: crimson;
  border-radius: 50%;
}